<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Html->link(__('Edit Task'), ['action' => 'edit', $task->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Task'), ['action' => 'delete', $task->id], ['confirm' => __('Are you sure you want to delete # {0}?', $task->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Task'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Task'), ['action' => 'add']) ?> </li>
    </ul>
</div>
<div class="task view large-10 medium-9 columns">
    <h2><?= h($task->id) ?></h2>
    <div class="row">
        <div class="large-5 columns strings">
            <h6 class="subheader"><?= __('Task Name') ?></h6>
            <p><?= h($task->task_name) ?></p>
        </div>
        <div class="large-2 columns numbers end">
            <h6 class="subheader"><?= __('Id') ?></h6>
            <p><?= $this->Number->format($task->id) ?></p>
            <h6 class="subheader"><?= __('Status') ?></h6>
            <p><?= $this->Number->format($task->status) ?></p>
            <h6 class="subheader"><?= __('Created By') ?></h6>
            <p><?= $this->Number->format($task->created_by) ?></p>
            <h6 class="subheader"><?= __('Modified By') ?></h6>
            <p><?= $this->Number->format($task->modified_by) ?></p>
            <h6 class="subheader"><?= __('Modul Id') ?></h6>
            <p><?= $this->Number->format($task->modul_id) ?></p>
        </div>
        <div class="large-2 columns dates end">
            <h6 class="subheader"><?= __('Task Start') ?></h6>
            <p><?= h($task->task_start) ?></p>
            <h6 class="subheader"><?= __('Task End') ?></h6>
            <p><?= h($task->task_end) ?></p>
            <h6 class="subheader"><?= __('Created') ?></h6>
            <p><?= h($task->created) ?></p>
            <h6 class="subheader"><?= __('Modified') ?></h6>
            <p><?= h($task->modified) ?></p>
        </div>
    </div>
    <div class="row texts">
        <div class="columns large-9">
            <h6 class="subheader"><?= __('Taks') ?></h6>
            <?= $this->Text->autoParagraph(h($task->taks)); ?>

        </div>
    </div>
</div>
